.App {
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.App-header {
  background-color: #474343;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100vw;
  height: 100vh;
  min-width: 500px;
  min-height: 500px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.App-body {
  background-color: #474343;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: black;
}

.Title {
  font-size: 50px;
  margin-top: 50px;
  color: rgb(13, 44, 63);
}

.Title-line {
  font-size: 30px;
  line-height: 10px;
  color: rgb(13, 44, 63);
  margin-bottom: 100px;
  color: rgb(13, 44, 63);
  margin-bottom: 60px;
}

.Welcome {
  margin-top: 0
}

.Submit-button {
  background-color:rgb(7, 56, 88);
  color: white;
  padding: 10px;
}

.Stock-buttons {
  margin-left: center;
  margin-right: center;
  border-radius: 12px;
  background-color:#636081;
  background-color:#6f7374e5;
  color: rgb(7, 56, 88);
  margin-bottom: 10px;
  justify-content: center;  
  align-items: center;  
}