
.App {
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.App-header {
  padding-top: 50px;
  background-color: #5a5151;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-width: 500px;
  min-height: 500px;
  padding-bottom: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.App-body {
  background-color: #474343;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: black;
}

.Title {
  font-size: 50px;
  margin-top: 30px;
  color: rgb(13, 44, 63);
}

.Title-line {
  font-size: 30px;
  line-height: 10px;
  color: rgb(13, 44, 63);
  margin-bottom: 100px;
  color: rgb(13, 44, 63);
  margin-bottom: 50px;
}

.Welcome {
  
  margin-top: 0
  
}

.yourBoard{
  text-align: center;
  font-size: 30px;
  color: white;
  margin-top: 30px;
}

.Submit-button {
  background-color:rgb(7, 56, 88);
  color: white;
  padding: 6px;
  font-size: 20px;
  margin-top: 20px;
}

.Stock-buttons {
  background-color:rgb(7, 56, 88);
  color: white;
  padding: 6px;
  font-size: 20px;
  margin-top: 20px;
}